﻿@model IEnumerable<House>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
  @foreach(var house in Model)
    {
    <tr>
        <td>@house.Address</td>
    </tr>
    }
</table>

<h2>View</h2>

