﻿@model List<Flat>
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@foreach ( Flat flat in Model)
{
    <p>@flat.OwnerName</p>
}
<p>Use this area to provide additional information.</p>
